<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oldlane.cheeseblog.xo.mapper.ChatUserLinkMapper">

    <resultMap id="BaseResultMap" type="com.oldlane.cheeseblog.commons.entity.ChatUserLink">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="fromUser" column="from_user" jdbcType="BIGINT"/>
            <result property="toUser" column="to_user" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,from_user,to_user,
        create_time
    </sql>
</mapper>
